---
import Layout from "../layouts/Layout.astro";


---

<Layout>
  <meta http-equiv="refresh" content="0;url=/de/" />
  <link rel="canonical" href="https://teufel-it.de/" />
  <link rel="alternate" hreflang="de" href="https://teufel-it/de/" />
  <link rel="alternate" hreflang="en" href="https://teufel-it/en/" />
  <link rel="alternate" hreflang="x-default" href="https://teufel-it.de/" />

  <div class="spinner-container">
    <div class="spinner"></div>
  </div>

  <script>
    // Client-side detection (more accurate)
    // This runs before the meta refresh happens
    window.onload = function () {
      const browserLang = navigator.language;
      const clientRedirectPath = browserLang.startsWith("de") ? "/de/" : "/en/";
      window.location.href = clientRedirectPath;
    };
  </script>
</Layout>

<style>
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
