---
import { Image } from "astro:assets";
import { useTranslations } from "./../i18n/utils";
import ProfileLink from "./ProfileLink.astro";
import Profile from "./../images/profil.png";
import { version } from "../getVersion";
import Link from "./Link.astro";

const buildTime = new Date().toLocaleString("de-DE", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
  second: "2-digit",
  timeZone: "Europe/Berlin",
  timeZoneName: "short",
});

const t = useTranslations(Astro.url.pathname);
---

<div>
  <div class="relative flex items-center justify-center min-h-screen z-10">
    <div>
      <div
        class="flex w-screen border flex-col md:flex-row justify-between md:px-32 bg-background/80 backdrop-blur-xs"
        style="opacity: 1;"
      >
        <div class="p-12">
          <div class="flex flex-col lg:flex-row items-center">
            <Image
              class="rounded-full shadow-md"
              src={Profile}
              alt="Tristan Teufel"
              height={100}
              width={100}
            />
            <div class="mt-4 lg:ml-3 lg:mt-0">
              <h1 class="font-serif text-4xl">Tristan Teufel</h1>
              <p class="text-neutral-500">
                {t("subtitle")}
              </p>
            </div>
          </div>
          <div class="mt-3">
            <p>
              {t("current", { projects: <Link name={t('projects') as string} link="https://cv.teufel-it.de" /> })}
            </p><p>
              {t('in-my-freetime', { github: <Link name="GitHub" link="https://github.com/firsttris" /> })}
            </p>
            <p>
              {t('best-project', { jestRunner: <Link name="Jest-Runner" link="https://marketplace.visualstudio.com/items?itemName=firsttris.vscode-jest-runner" />, nx: <Link name="NX" link="https://nx.dev/" /> })}
            </p>
            <p>
              {t('contactMe', { contact: <Link name={t('contact') as string} link="mailto:info@teufel-it.de" /> })}
            </p>
          </div>
        </div>
      </div>
      <div
        class="md:px-32 ml-12 mt-4 flex flex-col xl:flex-row xl:space-x-2 space-y-2 xl:space-y-0 mb-4"
      >
        <ProfileLink
          name="+49 176 45744166"
          icon="openmoji:mobile-phone"
          link="tel:+4917645744166"
        />
        <ProfileLink
          name="info@teufel-it.de"
          icon="openmoji:closed-mailbox-with-raised-flag"
          link="mailto:info@teufel-it.de"
        />
        <ProfileLink
          name={t("cv") as string}
          icon="openmoji:bookmark-tabs"
          link="https://cv.teufel-it.de"
        />
        <ProfileLink
          name="Github.com"
          icon="openmoji:github"
          link="https://github.com/firsttris"
        />
        <ProfileLink
          name="LinkedIn.com"
          icon="openmoji:linkedin"
          link="https://www.linkedin.com/in/tristanteufel/"
        />
        <ProfileLink
          name="Freelancermap.de"
          icon="openmoji:globe-with-meridians"
          link="https://www.freelancermap.de/profil/tristan-teufel"
        />
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center text-xs my-1 pb-2 space-x-2">
    <span class="text-gray-500">{t("generated")} {buildTime}</span>
    <span class="text-gray-500">|</span>
    <a
      class="text-gray-500 hover:text-gray-700"
      href="https://github.com/firsttris/teufel-it-astro"
      target="_blank"
      rel="noopener noreferrer">{t("source-code")}</a
    >
  </div>
</div>
