---

interface Props {
  name: string;
  link: string;
}

const { name, link }: Props = Astro.props;
---

<a
class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 text-primary underline-offset-4 hover:underline font-sans font-normal p-0 h-min underline text-base decoration-neutral-300"
href={link}
>{name}
</a>