---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  link: string;
  icon: string
}

const { name, link, icon }: Props = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer" class="flex flex-row items-center cursor-pointer mt-2 no-underline">
  <Icon name={icon} class="h-8 text-4xl" />
  <span class="text-sm">{name}</span>
</a>