---
import { Icon } from 'astro-icon'

interface Props {
  name: string;
  link: string;
  icon: string
}

const { name, link, icon }: Props = Astro.props;
---

<div class="flex flex-row items-center cursor-pointer mt-2">
    <Icon name={icon} class="h-10 mr-1" />
    <span><a class="no-underline" href={link} target="_blank" rel="noopener noreferrer">{name}</a></span>
</div>