---
import "@fontsource/roboto";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tristan Teufel, Softwareentwickler</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: "Roboto", sans-serif;
	}
	body a:not(.no-underline) {
		color: blue;
	}
</style>
